/* ハンバーガーメニューのスタイルシート */
.ham {
    position: fixed;
    top: 2vh;
    right: 3vw;
    width: 70px;
    height: 70px;
    cursor: pointer;
    background-color: rgb(45, 84, 127);
}

/* ハンバーガーボタンのライン */
.ham-line {
    transition: all 0.3s;
    position: absolute;

    left: 25px;
    width: 20px;
    height: 2px;
    background-color: rgb(220, 227, 165);
}

.ham-line1 {
    top: 25px;
}

.ham-line2 {
    top: 33px;
}

.ham-line3 {
    top: 41px;
}

.clicked .ham-line1 {
    transform: rotate(45deg);
    top: 30px;
}

.clicked .ham-line2 {
    width: 0px;
}

.clicked .ham-line3 {
    transform: rotate(-45deg);
    top: 30px;
}

/* メニューの表示 */
.menu {
    position: fixed;
    top: 15vh;
    left: -95vw;
    width: 90vw;
    height: 60vh;
    background-color: rgba(45, 84, 127, 0.5);
    transform: all 0.5s;
    color: white;

    overflow: auto;
}

.clicked .menu {
    left: 8vw;
}

/* todo クリックで追加を実装する */
.action-block {

    width: 70vw;
    height: 10vh;

    text-align: center;

    list-style-type: none;
    font-size: 150%;
    margin: 5vh auto 5vh auto;
    padding: auto;

    background-color: antiquewhite;
    color: rgb(57, 57, 113);

    border: 10px rgb(69, 89, 121) solid;
}