/* ハンバーガーメニューのスタイルシート */
.ham {
    position: relative;
    width: 70px;
    height: 70px;
    cursor: pointer;
    background-color: rgb(45, 84, 127);
}

/* ハンバーガーボタンのライン */
.ham-line {
    transition: all 0.3s;
    position: absolute;

    left: 25px;
    width: 20px;
    height: 2px;
    background-color: rgb(220, 227, 165);
}

.ham-line1 {
    top: 25px;
}

.ham-line2 {
    top: 33px;
}

.ham-line3 {
    top: 41px;
}

.clicked .ham-line1 {
    transform: rotate(45deg);
    top: 30px;
}

.clicked .ham-line2 {
    width: 0px;
}

.clicked .ham-line3 {
    transform: rotate(-45deg);
    top: 30px;
}

/* メニューの表示 */
.menu {
    position: fixed;
    left: -55vw;
    width: 50vw;
    height: 100vh;
    background-color: rgb(45, 84, 127);
    transform: all 0.5s;
    color: white;
}

.clicked .menu {
    left: 8px;
}