body {
    position: relative;
}

.start-project {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.select-list {
    width: 75vw;
    height: 10vh;
    background-color: rgb(45, 84, 127);
    margin: 0 5vw auto 5vw;
}

/* 新規作成ボタン */
.create-program-button {
    width: 60vw;
    height: 10vh;
    font-size: 150%;
    margin: 20px;
}

/* liタグの中の要素にlistクラスを付与する */

li {
    color: wheat;

    margin: 1.1vh 4vw 1.1vh 4vw;
    list-style-type: none;
}

.list {
    text-align: center;

    height: 20vh;
    font-size: 300%;
    color: wheat;
    text-decoration: none;
}